repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: pylint
        language: system
        types:
          - python
      - id: black
        name: black
        entry: black
        language: system
        types:
          - python
      - id: flake8
        name: flake8
        entry: flake8
        language: system
        types:
          - python
      - id: isort
        name: isort
        entry: isort
        language: system
        types:
          - python
      - id: mypy
        name: mypy
        entry: mypy
        language: system
        types:
          - python
        exclude: tests/*
      - id: tests
        name: tests
        language: system
        entry: pytest tests
        types:
         - python
        stages:
         - push
        pass_filenames: false
